
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Make it cover full height */
  width: 100%; /* Make it cover full width */
  padding: 20px; /* 10px margin from each side */
  box-sizing: border-box; 
}

.inner-container {
  padding: 25px; /* 10px margin inside the inner container */
  border: 1px solid #dee2e6; /* 1px border around the inner container */
  box-sizing: border-box;
  width: 100%;
 /* Ensure padding is included in the element’s total width/height */
  background-color: #f0f0f0;

}